@page "/Assignments"
@layout AuthenticationGuard
@inject HttpClient HttpClient

<TemplatedHeader Subtitle="Click on an icon in the table below to view more info." Title="Assignments">
    <ToolbarContent>
        <a class="btn btn-primary mdi mdi-plus" href="Assignments/0">Create</a>
    </ToolbarContent>
</TemplatedHeader>

<TemplatedTable Loader="@GetAssignments">
    <HeaderContent>
        <th>Title</th>
        <th>Details</th>
        <th>Deadline</th>
    </HeaderContent>

    <ItemContent Context="assignment">
        <td>@assignment.Title</td>
        <td>@assignment.Details</td>
        <td>@assignment.Deadline.ToString()</td>
        <td><a href="Assignments/@assignment.Id"><span class="mdi mdi-pencil"></span></a></td>
    </ItemContent>
</TemplatedTable>

@code
{

    private async Task<IEnumerable<Models.Assignment>> GetAssignments()
    {
        return await HttpClient.GetJsonAsync<IEnumerable<Models.Assignment>>("Assignments");
    }

}