@page "/Campuses/{CampusId:int}"
@layout AuthenticationGuard
@inject HttpClient HttpClient

<TemplatedHeader Subtitle="Use the form below to update or create a campus." Title="Campus">
    <ToolbarContent>
        <a class="btn btn-primary mdi mdi-cancel" href="Campuses">Cancel</a>
    </ToolbarContent>
</TemplatedHeader>

@if (IsLoading)
{
    <TemplatedSpinner/>
}
else
{
    <EditForm Model="@Model" OnValidSubmit="@OnValidSubmitAsync">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value="@Model.Name"/>
            <ValidationMessage For="@(() => Model.Name)"/>
        </div>

        <button class="btn btn-primary mdi mdi-content-save" type="submit">Save</button>
    </EditForm>
}

@code
{

    [Parameter]
    private int CampusId { get; set; }

    private bool IsCreating => CampusId <= 0;

    private bool IsLoading => Model == null;

    private bool IsUpdating => CampusId > 0;

    private Models.Campus Model { get; set; }

    protected override async Task OnInitAsync()
    {
        if (IsUpdating)
        {
            Model = await HttpClient.GetJsonAsync<Models.Campus>($"Campuses/{CampusId}");
        }
        else
        {
            Model = new Models.Campus();
        }
    }

    private async Task OnValidSubmitAsync()
    {
        if (IsUpdating)
        {
            await HttpClient.PutJsonAsync($"Campuses/{CampusId}", Model);
        }
        else
        {
            await HttpClient.PostJsonAsync("Campuses", Model);
        }
    }

}