@page "/Courses"
@attribute [Authorize]
@layout MainLayout
@inject HttpClient HttpClient

<TemplatedHeader Subtitle="Click on an icon in the table below to view more info." Title="Courses">
    <ToolbarContent>
        <a class="btn btn-primary mdi mdi-plus" href="Courses/0">Create</a>
    </ToolbarContent>
</TemplatedHeader>

<TemplatedTable Loader="@GetCourses">
    <HeaderContent>
        <th>Name</th>
    </HeaderContent>

    <ItemContent Context="course">
        <td>@course.Name</td>
        <td><a href="Courses/@course.Id"><span class="mdi mdi-pencil"></span></a></td>
    </ItemContent>
</TemplatedTable>

@code
{

    private async Task<IEnumerable<Models.Course>> GetCourses()
    {
        return await HttpClient.GetJsonAsync<IEnumerable<Models.Course>>("Courses");
    }

}