@page "/Enrolments"
@layout AuthenticationGuard
@inject HttpClient HttpClient

<TemplatedHeader Subtitle="Click on an icon in the table below to view more info." Title="Enrolments">
    <ToolbarContent>
        <a class="btn btn-primary mdi mdi-plus" href="Enrolments/0">Create</a>
    </ToolbarContent>
</TemplatedHeader>

<TemplatedTable Loader="@GetEnrolments">
    <HeaderContent>
        <th>Year</th>
    </HeaderContent>

    <ItemContent Context="enrolment">
        <td>@enrolment.Year.ToString()</td>
        <td><a href="Enrolments/@enrolment.Id"><span class="mdi mdi-pencil"></span></a></td>
    </ItemContent>
</TemplatedTable>

@functions
{

    private async Task<IEnumerable<Models.Enrolment>> GetEnrolments()
    {
        return await HttpClient.GetJsonAsync<IEnumerable<Models.Enrolment>>("Enrolments");
    }

}